
<div class="container-fluid" style="background-image: url('../wwwroot/Img/Sonny Boy_ original soundtrack.jpg')  ">
    <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4 bg-light ">
            <h1 class="text-success">Spectrum Hotel</h1>
        </div>
        <div class="col-md-4"></div>
        </div>
</div>