@model Customer

<form method="post">
    <div class = "border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Create Customer</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="CustomerName"></label>
            <input asp-for="CustomerName" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="CustomerEmail"></label>
            <input asp-for="CustomerEmail" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-controller="Customer" asp-action="Index" class=" btn btn-secondary" style="width:150px "> Back to List</a>
    </div>
</form>


